body{
  margin: 0;
  color: #555;
  background-color: #ddd;
}
.st-Header{
  padding: 2%;
  overflow: hidden;
  background-color: #ccc;
}
.st-SubMenu,
.st-MainContents{
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  min-height: 800px;
}
.st-SubMenu{
  padding: 2%;
  width: 26%;
  background-color: #ddd;
}
.st-MainContents{
  padding: 2%;
  width: 66%;
  background-color: #eee;
}
